@mixin color($bgc: rgb(0, 0, 0), $color: rgb(255, 255, 255)) {
    background-color: $bgc;
    color: $color;
}

@mixin flex {
    display: flex;
    justify-content: left;
    align-items: ;
    width: 30vw;
    height: 10vh;
    margin: 5px;
    border-radius: 15px
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.btn {
    font-family: "Poppins", sans-serif;
    @include color();
    @include flex()
}